mixin education({education={}, labelColor='red'})
        .education
            .education__title
                .education__label(style=`color: ${labelColor}`) #{education.label}
                .education__period #{education.period}
            .education__content
                .education__position #{education.position}
                .education__description #{education.description}
